<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617279125864-7rasu3qhe8eoug8m29o2vff3eeii6j0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617279125864-7rasu3qhe8eoug8m29o2vff3eeii6j0i</string>
	<key>API_KEY</key>
	<string>AIzaSyCh1EllYxiEGBOoDV6KhgxW6q0AdwM_fnY</string>
	<key>GCM_SENDER_ID</key>
	<string>617279125864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-application-98afb</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-application-98afb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617279125864:ios:5f83284274dd4ec5317edd</string>
</dict>
</plist>